@model sb_admin_2.Web1.Domain.LoginData

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-4" style="text-align: center">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.TextBoxFor(a => a.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.PasswordFor(a => a.Password)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="submit" value="Login" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
