@model sb_admin_2.Web1.Domain.ActionData

@{
    ViewBag.Title = "Actions";
}

<div class="row">
    <h2>Actions</h2>
</div>

<div class="row">
    <div class="col-lg-10">
        <input class="form-control">
    </div>
    <div class="col-lg-1">
        <button type="button" class="btn btn-default">Search</button>
    </div>
    <div class="col-lg-1">
        <button type="button" class="btn btn-default">Add</button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>
            <h3>@Html.DisplayFor(model => model.ActionInform.Description)</h3>
        </p>
        <p>
            @Html.DisplayFor(model => model.ActionInform.DescriptionWide)
        </p>
    </div>
    
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Attached persons</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Person" list="persons">
                    <datalist id="persons">
                        <option value="Bob">
                        <option value="Alisa">
                    </datalist>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-check"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Attached orders</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Lorem ipsum</td>
                                        <td>active</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Order" list="orders">
                    <datalist id="orders">
                        <option value="Lorem">
                        <option value="Ipsum">
                    </datalist>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-check"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>